services:
  php-app:
    build: .
    ports:
      - "8090:80"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: ecommerce_1
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ecommerce_1
    volumes:
      - ./Database:/docker-entrypoint-initdb.d
    restart: unless-stopped
